<h1>Hello World</h1>
<p><%= greeting %></p>

<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
<p>Data mahasiswa kosong</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama: <%= mhs.name %></li>
  <li>Email: <%= mhs.email %></li>
</ul>
<% }) %> <% } %>
